* {
	margin:0;
	padding:0;
	text-align: left;
}
body {
	font:12px/160% Arial, Helvetica, sans-serif;
	text-align: left;
	color: #000;
	background:#white url(pbg.gif) repeat;
	padding-bottom: 10px;
}
li {list-style:none outside none;}
img, input, select {vertical-align:middle;}
a:link, a:visited {color:#000;text-decoration:none;}
a:hover, a:active {color:#f30;text-decoration:underline;}
a:link img, a:visited img {border:2px solid #d8d8d8;}
a:hover img, a:active img {border:2px solid #f60;}
.nb a:link img, .nb a:visited img, .nb a:hover img, .nb a:active img {border:none;}
.red {color:#f00;}
.clear {clear:both;}
.ba {
    background: none repeat scroll 0 0 #FFFFFF;
    clear: both;
    float: left;
    margin-bottom: 2px;
    padding: 2px 5px;
    text-align: center;
    width: 970px;
}
#submain {
	background: url("sbg.gif") repeat-y scroll 0 0 #FFFFFF;
	clear: both;
	float: left;
	text-align: center;
	width: 988px;
}

#bar {
	float: left;
	font-size: 12px;
	width: 160px;
	height: 800px;
	padding-top: 2px;
	padding-right: 15px;
	padding-bottom: 2px;
	padding-left: 2px;



	background-color: url
:"sbg.gif";
}
#wrap {clear:both;width:988px;margin:0 auto;}
#wrap:after {content:"";display:block;clear:both;visibility:hidden;height:0;}

#header {clear:both;float:left;width:988px;padding:0 5px;margin-bottom:2px;background:#fff url(bg.gif) no-repeat 0 5px;voice-family: "\"}\"";voice-family: inherit;width: 978px;}
#logo {float:left;width:220px;height:56px;text-align:left;}
#logo a {float:left;display:block;width:165px;height:56px;}
#logo a strong {display:none;}
#ea {float:left;width:420px;padding-top:8px;text-align:center;}
#ex {float: left;width: 658px;height: 24px;text-align: right;line-height: 24px;}
#ex2 {float: left;width: 338px;height: 24px;text-align: right;line-height: 24px;}
#ex2 a, #ex a {margin: 0 5px;}
#ex2 .mobile {color: #f30;}
#ex2 .favurl {color: #06f;}
#se {float: left;width: 658px;height: 27px;text-align: right;}
#se input {font-size: 12px;color: #333;padding: 1px 5px;vertical-align: middle;}
#se .st {color: #666;width: 147px;padding: 2px 5px;border: 1px solid #7F9DB9;voice-family:"\"}\"";voice-family:inherit;width: 135px;}
.hs {float:right;display:inline;width:278px;height:32px;background:url(bg.gif) no-repeat -630px -320px;}
.hs_input {float:left;display:inline;width:194px;height:28px;line-height:28px;padding:0 7px;background:none;color:#c1c1c1;font-size:14px;border:none;voice-family:"\"}\"";voice-family:inherit;width:180px;}
.hs_btn {float:left;display:inline;width:81px;height:28px;background:url(bg.gif) no-repeat -630px -357px;color:#fff;border:none;}
.hs_btn:hover {background:url(bg.gif) no-repeat -730px -357px;}

#nav {
	clear:both;
	float:left;
	width:978px;
	height:33px;
	background: url("head_tab.gif");
}
#nav ul {clear:both;float:left;width:978px;padding:0 10px;voice-family: "\"}\"";voice-family:inherit;width:958px;}
#nav li {
	float:left;
	height:33px;
	font-size:14px;
	font-weight: bold;
}
#nav a {display:block;color:#FFFFFF;padding:8px 13px 6px 13px;}
#nav a:link, #nav a:visited {color:#FFFFFF;}
#nav a:hover, #nav a:active {color:#f30;}
#nav a.home:link, #nav a.home:visited,
#nav a.home:hover, #nav a.home:active {color:#f30;}
#nav .navOn {border-bottom:none;}
#nav .navOn a:link, #nav .navOn a:visited {color:#fff;background:url(bg.gif) no-repeat 0 -120px;}
#nav .navOn a:hover, #nav .navOn a:active {color:#fff;background:url(bg.gif) no-repeat 0 -120px;}
#head_line {
	clear:both;
	float:left;
	width:978px;
	height:5px;
	background: url("head_line.gif");
}
#menu {
	clear:both;
	float:left;
	color:#FFFFFF;
	width:970px;
	height:36px;
}
#menu ul {clear:both;padding:0 10px;font-family:"宋体",serif;line-height:32px;}
#menu li {float:left; padding:0 6px;}
#menu li.menuR {float:right;padding:0 0 0 6px;}
#menu li.menuL {padding:0;}
#menu a:link, #menu a:visited {color:#ffe9d6;}
#menu a:hover, #menu a:active {color:#fff;}

#footer {clear:both;float:left;width:988px;text-align:left;padding:0 19px;margin-top:1px;border-top:2px solid #FCCB9B;background:#fff;voice-family:"\";}\"";voice-family:inherit;width:950px;}
#sitearea {clear:both;float:left;width:950px;border-bottom:1px solid #ccc;line-height:180%;padding:10px 0;}
#footl{float:left;width:590px;color:#333;}
#footl ul{float:left;width:140px;line-height:180%;}
#footl li a:link, #footl li a:visited{color:#666;}
#footl li a:hover, #footl li a:active{color:#f30;}
#footl li span{color:#999;padding:0 2px;}
#footr{float:left;width:360px;color:#f60;}
#footr p{clear:both;float:left;width:360px;padding-bottom:7px;line-height:160%;}
#footr #fr50, #footr #fr30{clear:both;float:left;width:360px;padding-bottom:20px;}
#footr #fr50 li{float:left;width:56px;}
#footr #fr50 li a{float:left;display:block;width:50px;height:18px;}
#footr #iPhone a:link, #footr #iPhone a:visited{background:url(at.gif) no-repeat 0 -400px;}
#footr #iPhone a:hover, #footr #iPhone a:active{background:url(at.gif) no-repeat 0 -300px;}
#footr #iPad a:link, #footr #iPad a:visited{background:url(at.gif) no-repeat 0 -420px;}
#footr #iPad a:hover, #footr #iPad a:active{background:url(at.gif) no-repeat 0 -320px;}
#footr #Android a:link, #footr #Android a:visited{background:url(at.gif) no-repeat 0 -440px;}
#footr #Android a:hover, #footr #Android a:active{background:url(at.gif) no-repeat 0 -340px;}
#footr #Kjava a:link, #footr #Kjava a:visited{background:url(at.gif) no-repeat 0 -460px;}
#footr #Kjava a:hover, #footr #Kjava a:active{background:url(at.gif) no-repeat 0 -360px;}
#footr #wap a:link, #footr #wap a:visited{background:url(at.gif) no-repeat 0 -480px;}
#footr #wap a:hover, #footr #wap a:active{background:url(at.gif) no-repeat 0 -380px;}
#footr #fr30 li{float:left;width:30px;}
#footr #fr30 li.fr40{width:40px;}
#footr #fr30 li a{float:left;display:block;width:24px;height:24px;}
#footr #mweibo a:link, #footr #mweibo a:visited{background:url(at.gif) no-repeat -30px 0;}
#footr #mweibo a:hover, #footr #mweibo a:active{background:url(at.gif) no-repeat 0 0;}
#footr #mqqmb a:link, #footr #mqqmb a:visited{background:url(at.gif) no-repeat -30px -30px;}
#footr #mqqmb a:hover, #footr #mqqmb a:active{background:url(at.gif) no-repeat 0 -30px;}
#footr #mqzone a:link, #footr #mqzone a:visited{background:url(at.gif) no-repeat -30px -60px;}
#footr #mqzone a:hover, #footr #mqzone a:active{background:url(at.gif) no-repeat 0 -60px;}
#footr #maillist a:link, #footr #maillist a:visited{background:url(at.gif) no-repeat -30px -150px;}
#footr #maillist a:hover, #footr #maillist a:active{background:url(at.gif) no-repeat 0 -150px;}
#footr #mqqmail a:link, #footr #mqqmail a:visited{background:url(at.gif) no-repeat -30px -120px;}
#footr #mqqmail a:hover, #footr #mqqmail a:active{background:url(at.gif) no-repeat 0 -120px;}
#footr #mrenren a:link, #footr #mrenren a:visited{background:url(at.gif) no-repeat -30px -180px;}
#footr #mrenren a:hover, #footr #mrenren a:active{background:url(at.gif) no-repeat 0 -180px;}
#footr #msohu a:link, #footr #msohu a:visited{background:url(at.gif) no-repeat -30px -210px;}
#footr #msohu a:hover, #footr #msohu a:active{background:url(at.gif) no-repeat 0 -210px;}
#footr #mqplus a:link, #footr #mqplus a:visited{background:url(at.gif) no-repeat -30px -90px;}
#footr #mqplus a:hover, #footr #mqplus a:active{background:url(at.gif) no-repeat 0 -90px;}
#footr #m360 a:link, #footr #m360 a:visited{background:url(at.gif) no-repeat -30px -240px;}
#footr #m360 a:hover, #footr #m360 a:active{background:url(at.gif) no-repeat 0 -240px;}
#footr li span{display:none;}
#copyright {clear:both;float:left;width:950px;line-height:180%;padding:10px 0 20px 0;voice-family:"\";}\"";voice-family:inherit;width:950px;}
#copyright a {color:#c00;font-weight:bold;}
#hits {font-size:10px;font-weight:normal;color:#666;margin-left:16px;}
#copyright span a {color:#333;font-weight:normal;}

.frame1 {clear:both;float:left;width:988px;text-align:left;background:#fff url(sbg.gif) repeat-y 747px 0;}
.frame2 {clear:both;float:left;width:988px;text-align:left;margin-bottom:1px;background:#fff;}

.ba {clear:both;float:left;width:988px;text-align:center;padding:5px 10px;voice-family:"\"}\"";voice-family:inherit;width:968px}

.tL {float:left;width:320px;padding:10px 10px 0 10px;voice-family:"\"}\"";voice-family:inherit;width:300px;}

.changeBox_a1{float:left;width:300px;height:400px;position:relative; }
.changeBox_a1 .a_bigImg img{position:absolute;top:0;left:0;display:none;}
.ul_change_a2{position:absolute;right:1px;bottom:6px;padding-left:19px;overflow:hidden;}
.ul_change_a2 li{display: -moz-inline-stack;display:inline-block;*display:inline;*zoom:1;}
.ul_change_a2 span{display: -moz-inline-stack;display:inline-block;*display:inline;*zoom:1;font-family:Arial,Helvetica,sans-serif;font-size:14px;line-height:18px;padding:0 4px;margin-right:5px;background:#FFFF9D;filter:alpha(opacity=85);opacity:0.85;cursor:hand;cursor:pointer;}
.ul_change_a2 span.on{background:#f30;color:#fff;}

.mad {clear:both;float:left;width:300px;padding:0 0 10px 0;}
.mad li {float:left;width:150px;}
.mad a:link, .mad a:visited {color:#0065DA;text-decoration:none;}
.mad a:hover, .mad a:active {color:#c00;text-decoration:underline;}

.tR {float:left;width:668px;padding:10px 10px 0 0;voice-family:"\"}\"";voice-family:inherit;width:658px;}

.tC {float:left;width:428px;padding:10px 5px 0 5px;voice-family:"\"}\"";voice-family:inherit;width:418px;}

.tcTop {text-align:center;}
.tcTop h4 {font-family:'黑体';font-size:20px;font-weight:100;line-height:28px;}
.tcTop h4 a:link, .tcTop h4 a:visited, .tcTop .ynew a:link, .tcTop .ynew a:visited {color:#f30;}
.tcTop h4 a:hover, .tcTop h4 a:active, .tcTop .ynew a:hover, .tcTop .ynew a:active {color:#c00;}
.tcTop ul,.tcTop p {clear:both;float:left;width:418px;padding:0 0 10px 0;}
.tcTop li {float:left;width:209px;line-height:24px;}
.tcTop li a:link, .tcTop li a:visited {color:#2C629E;}
.tcTop li a:hover, .tcTop li a:active {color:#f30;}
.tcTop p {color:#666;text-align:left;padding:0 0 6px 0;}
.tText2 {clear:both;float:left;width:418px;padding-top:10px;background: url(d.gif) no-repeat left top;}
.tText2 li {float:left;width:209px;font-size:14px;line-height:26px;text-indent:10px;background:url(bg.gif) no-repeat -977px -172px;}
.tcNews {clear:both;float:left;width:418px;color:#888;line-height:26px;padding-top:10px;background:url(d.gif) no-repeat left top;}
.tcNews li {clear:both;float:left;width:418px;font-size:14px;text-indent:10px;background:url(bg.gif) no-repeat -978px -172px;}
.tcNews li span {float:right;}

.tU {float:left;width:240px;padding:10px 0 0 10px;voice-family:"\"}\"";voice-family:inherit;width:230px;}
.tU div, .tU ul {clear:both;float:left;width:230px;padding-bottom:5px;}
.tU li {line-height:23px;}
.tU li a:link, .tU li a:visited {color:#0065DA;}
.tU li a:hover, .tU li a:active {color:#c00;}

.main {float:left;width:748px;padding:0 10px;voice-family:"\"}\"";voice-family:inherit;width:728px;}
.post {clear:both;float:left;width:728px;padding:10px 0;}

.post h2 {clear:both;float:left;width:728px;font-size:14px;line-height:28px;color:#fff;padding:0 10px;margin-bottom:8px;background:url(bg.gif) no-repeat -220px -190px;voice-family: "\"}\"";voice-family: inherit;width: 708px;}
.post h2 small {margin-left:12px;font-size:12px;font-weight:normal;color:#ffe9d6;}
.post h2 a:link, .post h2 a:visited {color:#ffe9d6;}
.post h2 a:hover, .post h2 a:active {color:#fff;}
.post h2 span {float:right;font-size:12px;font-weight:normal;color:#ffe9d6;line-height:28px;}
.post h2 span a {margin:0 3px;}
.post h2 b a {color:#fff;font-size:12px;font-weight:normal;display:inline-block;width:62px;height:26px;line-height:25px;text-align:center;background: url(bg.gif) no-repeat -300px -233px;}
.post h2 b a:link, .post h2 b a:visited {color:#933;}
.post h2 b a:hover, .post h2 b a:active, .post h2 b.now a {color:#fff;background: url(bg.gif) no-repeat -220px -233px;}

.post h3 {clear:both;float:left;width:728px;font-size:14px;line-height:26px;color:#f50;padding:0 7px 0 10px;margin-bottom:8px;background:url(bg.gif) no-repeat -220px -280px;voice-family: "\"}\"";voice-family: inherit;width: 711px;}
.post h3 small, .post2 h2 small {margin-left:12px;font-size:12px;font-weight:normal;color:#f60;}
.post h3 span, .post2 h2 span {float:right;font-size:12px;font-weight:normal;color:#ffed6;line-height:24px;}
.post h3 span a, .post2 h2 span a {margin:0 3px;}

#daohang div {clear:both;float:left;width:728px;height:155px;}
#daohang li {float:left;text-align:left;line-height:180%;padding:0 5px;white-space:nowrap;}
#daohang .p12 li {float:left;width:60px;text-align:center;padding:3px 0;}

#daohang .lib {clear:both;float:left;width:728px;padding:0 3px;voice-family:"\"}\"";voice-family:inherit;width:722px;}
#daohang .lib li {float:left;width:103px;text-align:center;padding:5px 0 8px 0;}
.lib li a {display:inline-block;width:92px;height:26px;line-height:26px;text-align:center;background:url(bg.gif) no-repeat -390px -230px;}
.lib li a:link, .lib li a:visited {background:url(bg.gif) no-repeat -390px -230px;}
.lib li a:hover, .lib li a:active {background:url(bg.gif) no-repeat -500px -230px;}

#daohang .lib2 {clear:both;float:left;width:728px;padding:0 4px;voice-family:"\"}\"";voice-family:inherit;width:720px;}
#daohang .lib2 li {float:left;width:80px;text-align:center;padding:5px 0 8px 0;}
.lib2 li a, .lib2 li strong {display:inline-block;width:70px;height:26px;color:#f30;line-height:26px;text-align:center;background:url(bg.gif) no-repeat -820px -230px;}
.lib2 li a:link, .lib2 li a:visited {color:#000;background:url(bg.gif) no-repeat -820px -230px;}
.lib2 li a:hover, .lib2 li a:active {color:#f30;background:url(bg.gif) no-repeat -740px -230px;}

.case3 {float:left;width:242px;padding:8px 0;}
.case3 div {float:left;width:76px;text-align:center;padding:5px 0;}
.case3 div a:link img, .case3 div a:visited img, .case3 div a:hover img, .case3 div a:active img {border: none;}
.case3 ul {float:left;width:166px;}
.case3 li {line-height:24px;}

.case2 {float:left;width:364px;padding:8px 0;}
.case2 div {float:left;width:140px;text-align:center;}
.case2 h4 {float:left;width:224px;font-size:14px;font-weight:normal;line-height:20px;}
.case2 p {float:left;width:224px;color:#666;padding:5px 0;}
.case2 ul {float:left; width:224px;}
.case2 li {font-size:14px;line-height:28px;}

.eatbg div a {display:inline-block;width:60px;height:60px;background:url(eatbg_1.jpg) no-repeat 0 0;}
.eatbg div a strong {display:none;}
.eatbg #LMenu a {background:url(eatbg_1.jpg) no-repeat -70px 0;}
.eatbg #TMenu a {background:url(eatbg_1.jpg) no-repeat -140px 0;}
.eatbg #Magic a {background:url(eatbg_1.jpg) no-repeat 0 -70px;}
.eatbg #Nosh a {background:url(eatbg_1.jpg) no-repeat -70px -70px;}
.eatbg #WSFood a {background:url(eatbg_1.jpg) no-repeat -140px -70px;}
.eatbg #WeiBo a {background:url(eatbg_1.jpg) no-repeat 0 -140px;}
.eatbg #Liao a {background:url(eatbg_1.jpg) no-repeat -70px -140px;}
.eatbg #Cookroom a {background:url(eatbg_1.jpg) no-repeat -140px -140px;}

.t3, .t6 {clear:both;float:left;width:728px;padding:5px 0;}
.t3 {background:url(d.gif) repeat-x left top;}
.t3 li {float:left;width:242px;font-size:14px;line-height:26px;text-indent:16px;background:url(bg.gif) no-repeat -973px -172px;}
.t6 li {float:left;width:182px;font-size:14px;line-height:26px;text-indent:16px;background:url(bg.gif) no-repeat -973px -172px;}

.pList6, .pList7 {clear:both;float:left;width:728px;padding:8px 0 0 0;background:url(d.gif) no-repeat left bottom;}
.pList6 li {float:left;width:121px;height:105px;text-align:center;}
	.pList6 .iPost li {height:182px;}
.pList7 {background:none;}
.pList7 li {float:left;width:104px;text-align:center;}
.pList6 li img, .pList7 li img {margin-bottom:2px;}

#spaces {clear:both;float:left;width:728px;height:72px;background:url(d.gif) repeat-x left top;}
.space {float:left;width:182px;padding:10px 0 0 0;}
.space div {float:left;width:70px;text-align:center;padding-top:2px;}
.space div a:hover img, .space div a:active img {padding-bottom:1px;border-bottom:2px solid #f60;}
.space ul {float:left;width:112px;}
.space li {line-height:19px;}

/* linke color */
.case2 h4 a:link, .case2 h4 a:visited {color:#f30;}
.case2 h4 a:hover, .case2 h4 a:active {color:#c00;}
.post h3 a:link, .post h3 a:visited, .post2 h2 a:link, .post2 h2 a:visited {color:#f50;}
.post h3 a:hover, .post h3 a:active, .post2 h2 a:hover, .post2 h2 a:active {color:#c00;}
.space .user a:link, .space .user a:visited {color: #f50;}
.space .user a:hover, .space .user a:active {color: #f30;}

/* channel */
.main2 {float:left;width:748px;padding:0 0 0 10px;voice-family:"\"}\"";voice-family:inherit;width:738px;}
.post2 {clear:both;float:left;width:738px;padding:10px 0;}

.post2 .case h2 {clear:both;float:left;width:359px;font-size:14px;line-height:26px;color:#f50;padding:0 9px 0 10px;margin-bottom:8px;background:url(bg.gif) no-repeat -220px -500px;voice-family: "\"}\"";voice-family: inherit;width: 340px;}

.case {float:left;width:369px;padding:8px 10px 8px 0;voice-family:"\"}\"";voice-family:inherit;width:359px;}
.case ul {clear:both;float:left;width:359px;padding:0 10px;voice-family:"\"}\"";voice-family:inherit;width:339px;}
.case li {clear:both;float:left;width:339px;font-size:14px;line-height:28px;text-indent:12px;background:url(bg.gif) no-repeat -977px -171px;}
.case li span {float:right;font-size:12px;color:#999;}

.caseL {float:left;width:130px;color:#888;text-align:center;}
.caseL .pic_art {padding:4px 0 6px 0;}
	.caseL .pic_art img {margin-bottom: 2px;}
.caseR {float:left;width:229px;color:#888;line-height:26px;}
	.case .caseR ul {clear:both;float:left;width:229px;color:#888;padding:0;voice-family:"\"}\"";voice-family:inherit;width:229px;}
	.case .caseR li {clear:both;float:left;width:229px;font-size:14px;line-height:26px;text-indent:12px;background:url(bg.gif) no-repeat -977px -170px;}


.side {float:left;width:240px;padding:10px 0;}

.sCase {clear:both;float:left;width:240px;color:#888;line-height:24px;padding:0 0 10px 10px;margin-bottom:10px;background: url(d.gif) no-repeat right bottom;voice-family: "\"}\"";voice-family: inherit;width:230px;}
.sCase h3 {clear:both;float:left;width:220px;font-size:14px;color:#f60;padding-bottom:5px;}
.sCase h3 a:link, .sCase h3 a:visited {color:#f30;}
.sCase h3 a:hover, .sCase h3 a:active {color:#c00;}
.sCase h3 span {float:right;font-size:12px;font-weight:normal;color:#ccc;line-height:25px;}
.sCase h3 span a {margin: 0 3px;}
.sCase h3 font {font-size:16px;font-family:Verdana, Geneva, sans-serif;}
.sCase li {clear:both;width:220px;text-indent:10px;background:url(bg.gif) no-repeat -978px -172px;}
.sCase li span {float: right;}
.sCase p {clear:both;width:220px;}
.sNote li {color:#333;line-height:18px;margin-bottom:5px;background:url(bg.gif) no-repeat -978px -174px;}

.sCase h3 b a {color:#fff;font-size:12px;font-weight:normal;display:inline-block;width:42px;height:24px;line-height:22px;text-align:center;background: url(bg.gif) no-repeat -670px -233px;}
.sCase h3 b a:link, .sCase h3 b a:visited {color:#933;}
.sCase h3 b a:hover, .sCase h3 b a:active, .sCase h3 b.now a {color:#fff;background: url(bg.gif) no-repeat -620px -233px;}

.sCasePic {clear:both;float:left;width:220px;}
.sCasePic li {clear:both;padding-bottom:5px;text-indent:0;background:none;}
.sCasePic4 {clear:both;float:left;width:220px;}
.sCasePic4 li {clear:none;float:left;width:55px;padding-bottom:5px;text-align:center;text-indent:0;background:none;}
.tt {clear:both;float:left;width:220px;padding:5px 0;margin-bottom:5px;background:url(d.gif) repeat-x left bottom;}
.tt h5 {font-size:14px;font-weight:normal;line-height:22px;text-indent:12px;background:url(bg.gif) no-repeat -978px -134px;}
.tt h5 a:link, .tt h5 a:visited {color:#f30;}
.tt h5 a:hover, .tt h5 a:active {color:#c00;}
.tt p {line-height:18px;text-indent:1em;}

.sList2 li {clear:none;float:left;width:105px;text-align:left;text-indent:0;padding-bottom:5px;background:none;}

/* List */
.lie li {clear:both;width:300px;text-indent:15px;}
.sCase ol li {clear: both;width: 220px;}
.lie li span {float: right;}
.lie .i1 {background: url(bg.gif) no-repeat -968px -235px;}
.lie .i2 {background: url(bg.gif) no-repeat -968px -255px;}
.lie .i3 {background: url(bg.gif) no-repeat -968px -275px;}
.lie .i4 {background: url(bg.gif) no-repeat -968px -295px;}
.lie .i5 {background: url(bg.gif) no-repeat -968px -315px;}
.lie .i6 {background: url(bg.gif) no-repeat -968px -335px;}
.lie .i7 {background: url(bg.gif) no-repeat -968px -355px;}
.lie .i8 {background: url(bg.gif) no-repeat -968px -375px;}
.lie .i9 {background: url(bg.gif) no-repeat -968px -395px;}
.lie .i10 {background: url(bg.gif) no-repeat -968px -415px;}

#links {clear:both;float:left;width:988px;color:#333;text-align:left;padding:5px 11px 5px 14px;margin-top:1px;background:#fff;voice-family: "\"}\"";voice-family: inherit;width:963px;}
#links li {float:left;text-align:left;line-height:180%;padding:0 5px;white-space:nowrap;}
#links a {color:#333;}

.Yin2, .Yin2 img {display:none;}



#content {
    float: left;
    padding: 15px 15px 15px 0;
    width: 590px;
}

.entry {
    clear: both;
    float: left;
    padding: 10px 0;
    width: 590px;
}

.entry h1 {
    color: #2C629E;
    font-size: 20px;
    line-height: 120%;
}

.arinfo {
    background: url("d.gif") no-repeat scroll left bottom transparent;
    clear: both;
    color: #666666;
    float: left;
    padding: 5px 0 10px;
    width: 590px;
	font-size: 14px;
}
.arinfo2{
    background: url("d.gif") no-repeat scroll left bottom transparent;
    clear: both;
    color: #FF6600;
    float: left;
    padding: 5px 0 10px;
    width: 590px;
	font-size: 14px;
}










.mod-purchase .content li s {
    background: url("http://img.china.alibaba.com/cms/upload/homepage/main/channel.gif") no-repeat scroll -999px -999px transparent;
}
.mod-purchase {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFBE1;
    border-color: -moz-use-text-color #F4CEB7 #F4CEB7;
    border-radius: 0 0 2px 2px;
    border-right: 1px solid #F4CEB7;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    height: 339px;
	width: 164px;
    overflow: hidden;
}
.mod-purchase .header {
    height: 31px;
    padding-left: 9px;
    padding-right: 7px;
}
.mod-purchase .header .cell-header {
    background-position: right 0;
    padding-right: 5px;
}
.mod-purchase .header .title {
    border-bottom: 1px solid #FEC9A1;
    float: none;
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    padding-left: 12px;
    text-indent: -999px;
}
.mod-purchase .content nav {
    cursor: pointer;
    height: 339px;
    margin: 0;
    overflow: hidden;
    width: 230px;
}
.mod-purchase .content li {
    height: 34px;
    line-height: 33px;
    overflow: hidden;
    padding: 0 10px;
    position: relative;
    width: 210px;
}
.mod-purchase .content li a:link, .mod-purchase .content li a:visited {
    border-bottom: 1px solid #FFEDCE;
    color: #444444;
    display: block;
    font-size: 12px;
    height: 33px;
    position: relative;
    width: 210px;
}
.mod-purchase .content li a:hover {
    border-bottom: 1px solid #FF7300;
    color: #FFFFFF !important;
    text-decoration: none;
}
.mod-purchase .content li s {
    cursor: pointer;
    display: inline-block;
    height: 20px;
    left: 4px;
    overflow: hidden;
    position: absolute;
    top: 8px;
    vertical-align: middle;
    width: 20px;
}
.mod-purchase .content li strong {
    font-weight: normal;
    padding-left: 30px;
}
.mod-purchase .content li.last-row {
    height: 33px;
    line-height: 33px;
    overflow: hidden;
}
.mod-purchase .content li.last-row a {
    border-bottom: 0 none;
    height: 33px;
    overflow: hidden;
}
.mod-purchase .content li span {
    color: #FFAF73;
    cursor: pointer;
    font-size: 12px;
    padding-left: 22px;
    position: absolute;
    right: 0;
    top: 0;
}
.mod-purchase .content li a:hover span {
    color: #FFFFFF;
    font-weight: normal;
}
.mod-purchase .content .p-hover span {
    color: #FFFFFF;
    font-weight: normal;
}
.mod-purchase .content .p-hover a:link, .mod-purchase .content .p-hover a:visited {
    border-bottom: 1px solid #FF7300;
    color: #FFFFFF;
}
.mod-purchase .content .c-yl s {
    background-position: 0 0;
}
.mod-purchase .content .c-yl-hover s, .mod-purchase .content .c-yl a:hover s {
    background-position: -20px 0;
}
.mod-purchase .content .c-jiagong s {
    background-position: 0 -20px;
}
.mod-purchase .content .c-jiagong-hover s, .mod-purchase .content .c-jiagong a:hover s {
    background-position: -20px -20px;
}
.mod-purchase .content .c-mro s {
    background-position: 0 -40px;
}
.mod-purchase .content .c-mro-hover s, .mod-purchase .content .c-mro a:hover s {
    background-position: -20px -40px;
}
.mod-purchase .content .c-fuzhuang s {
    background-position: 0 -60px;
}
.mod-purchase .content .c-fuzhuang-hover s, .mod-purchase .content .c-fuzhuang a:hover s {
    background-position: -20px -60px;
}
.mod-purchase .content .c-caigou s {
    background-position: 0 -80px;
}
.mod-purchase .content .c-caigou-hover s, .mod-purchase .content .c-caigou a:hover s {
    background-position: -20px -80px;
}
.mod-purchase .content .c-home s {
    background-position: 0 -100px;
}
.mod-purchase .content .c-home-hover s, .mod-purchase .content .c-home a:hover s {
    background-position: -20px -100px;
}
.mod-purchase .content .c-daili s {
    background-position: 0 -120px;
}
.mod-purchase .content .c-daili-hover s, .mod-purchase .content .c-daili a:hover s {
    background-position: -20px -120px;
}
.mod-purchase .content .c-smart s {
    background-position: 0 -140px;
}
.mod-purchase .content .c-smart-hover s, .mod-purchase .content .c-smart a:hover s {
    background-position: -20px -140px;
}
.mod-purchase .content .c-com s {
    background-position: 0 -160px;
}
.mod-purchase .content .c-com-hover s, .mod-purchase .content .c-com a:hover s {
    background-position: -20px -160px;
}
.mod-purchase .content .c-alitalk s {
    background-position: 0 -180px;
}
.mod-purchase .content .c-alitalk-hover s, .mod-purchase .content .c-alitalk a:hover s {
    background-position: -20px -180px;
}